{% set wtpics = [
    "webtec-snap.png",
    "webtec2.png"

]%}

{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
    <div class="inner-container">      
            {{ content }}

            <article class="highlight">
          
            <h2>Nättraby Vägmuseum</h2>
             <div class="two-grid">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum velit ac ultricies gravida. Quisque blandit, est blandit varius imperdiet, sem nunc efficitur turpis, eget semper lorem tellus nec nibh. Maecenas at diam semper, placerat nibh non, commodo dui. In consequat ipsum sit amet volutpat tempus. Nunc sed neque nisl. Proin dapibus, eros condimentum semper porttitor, sapien orci semper elit.


            <br>
            <a href="https://www.student.bth.se/~pejo24/dbwebb-kurser/webtec/me/proj/public/home.php" 
            target="_blank" class="highlink">Visit this project &#10132;</a>
            </p>
           
        <div>
            <picture>
            <source media="(min-width: 768px)"  
                srcset="{{ base_url }}/image/work/nvm-snap.png?w=400 400w, 
                {{ base_url }}/image/work/nvm-snap.png?w=800 800w"
                  sizes="(min-width: 768px) 50vw">

                            <source media="(max-width: 767px)" 
                                srcset="{{ base_url }}/image/work/nvm-snap.png?w=480 480w, 
                                {{ base_url }}/image/work/nvm-snap.png?w=320 320w"
                                sizes="(max-width: 767px) 100vw">
                            <img 
                                src="{{ base_url }}/image/work/nvm-snap.png" 
                                alt="Picture representing the work I made for Nättraby Vägmuseum."
                                title="Picture representing the work I made for Nättraby Vägmuseum."
                               loading="lazy" >
                            </picture>
                            </div>
            </div>
            </article>


            <article class="highlight">
            <h2>A portfolio for the course Design</h2>
            <div class="two-grid">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum velit ac ultricies gravida. Quisque blandit, est blandit varius imperdiet, sem nunc efficitur turpis, eget semper lorem tellus nec nibh. Maecenas at diam semper, placerat nibh non, commodo dui. In consequat ipsum sit amet volutpat tempus. Nunc sed neque nisl. Proin dapibus, eros condimentum semper porttitor, sapien orci semper elit.


            <br>
            <a href="https://www.student.bth.se/~pejo24/dbwebb-kurser/design/me/portfolio/" 
            target="_blank" class="highlink">Visit this project &#10132;</a>
            </p>
           
        
            <picture>
            <source media="(min-width: 768px)"  
                srcset="{{ base_url }}/image/work/portfolio-snap.png?w=400 400w, 
                {{ base_url }}/image/work/portfolio-snap.png?w=800 800w"
                  sizes="(min-width: 768px) 50vw">

                            <source media="(max-width: 767px)" 
                                srcset="{{ base_url }}/image/work/portfolio-snap.png?w=480 480w, 
                                {{ base_url }}/image/work/portfolio-snap.png?w=320 320w"
                                sizes="(max-width: 767px) 100vw">
                            <img 
                                src="{{ base_url }}/image/work/portfolio-snap.png" 
                                alt="Picture representing the work I made for Petra (myself...)." 
                                title="Picture representing the work I made for Petra (myself...)." 
                               loading="lazy" >
                            </picture>
                            </div>

            </article>


            <article class="highlight">
            <h2>Project for the course Webtec</h2>
             <div class="two-grid">
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla interdum velit ac ultricies gravida. Quisque blandit, est blandit varius imperdiet, sem nunc efficitur turpis, eget semper lorem tellus nec nibh. Maecenas at diam semper, placerat nibh non, commodo dui. In consequat ipsum sit amet volutpat tempus. Nunc sed neque nisl. Proin dapibus, eros condimentum semper porttitor, sapien orci semper elit.


            <br>
            <a href="https://www.student.bth.se/~pejo24/dbwebb-kurser/webtec/me/report/public/about.php" 
            target="_blank" class="highlink">Visit this project &#10132;</a>
            </p>
           <div>
           {% for pic in wtpics %}
        <picture>
           <source media="(min-width: 768px)"  
                srcset="{{ base_url }}/image/work/{{ pic }}?w=400 400w, 
                {{ base_url }}/image/work/{{ pic }}?w=800 800w"
                  sizes="(min-width: 768px) 50vw">

                            <source media="(max-width: 767px)" 
                                srcset="{{ base_url }}/image/work/{{ pic }}?w=480 480w, 
                                {{ base_url }}/image/work/{{ pic}}?w=320 320w"
                                sizes="(max-width: 767px) 100vw">
                            <img 
                                src="{{ base_url }}/image/work/{{ pic }}" 
                                alt="Picture representing the work I made for the course Webtec." 
                                title="Picture representing the work I made for the course Webtec." 
                               loading="lazy" >
                            </picture>
                            {% endfor %}
</div>
                            </div>

            </article>


            <article class="highlight">
            <h2>Love Connect - a fresh dating app</h2>
             <div class="two-grid">
            <p>
            Find your perfect match with LoveConnect. Explore meaningful connections and start your love story today!
            
            <br>
            <a href="{{ base_url }}/mock"  class="highlink">Visit this project &#10132;</a>
            </p>
           
        
            <picture>
             <source media="(min-width: 768px)"  
                srcset="{{ base_url }}/image/work/datingapp-dalle.webp?w=400 400w, 
                {{ base_url }}/image/work/datingapp-dalle.webpg?w=800 800w"
                  sizes="(min-width: 768px) 50vw">

                            <source media="(max-width: 767px)" 
                                srcset="{{ base_url }}/image/work/datingapp-dalle.webp?w=480 480w, 
                                {{ base_url }}/image/work/datingapp-dalle.webp?w=320 320w"
                                sizes="(max-width: 767px) 100vw">
                            <img 
                                src="{{ base_url }}/image/work/datingapp-dalle.webp" 
                                alt="Picture representing the work I made for the Love Connect app." 
                                title="Picture representing the work I made for the Love Connect app." 
                               loading="lazy" >
                            </picture>
                </div>
            </article>


            <article class="highlight">
            <h2>Cool bank app</h2>
             <div class="two-grid">
            <p>
            Secure your financial future with Global Trust Bank. Manage your accounts, transfer funds, and stay in control with just a few clicks.
            
            <br>
            <a href="{{ base_url }}/mock" class="highlink">Visit this project &#10132;</a>
            </p>
           
        
            <picture>
            <source media="(min-width: 768px)"  
                srcset="{{ base_url }}/image/work/bankapp-dalle.webp?w=400 400w, 
                {{ base_url }}/image/work/bankapp-dalle.webp?w=800 800w"
                  sizes="(min-width: 768px) 50vw">

                            <source media="(max-width: 767px)" 
                                srcset="{{ base_url }}/image/work/bankapp-dalle.webp?w=480 480w, 
                                {{ base_url }}/image/work/bankapp-dalle.webp?w=320 320w"
                                sizes="(max-width: 767px) 100vw">
                            <img 
                                src="{{ base_url }}/image/work/bankapp-dalle.webp" 
                                alt="Picture showing the work I made for Global Trust Bank." 
                                title="Picture showing the work I made for Global Trust Bank." 
                               loading="lazy" >
                            </picture>
                            </div>

            </article>
            
</div>
</div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
